:host {
    border: 1px solid lightcoral;
    width: 50vw;
    margin: 16px auto;
    padding: 40px;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
}
p {
    margin: 0;
    font-size: 8px;
    text-align: center;
    color: grey;
}
form {
    margin: 0;
}
button {
    margin: 8px 16px;
    padding: 8px 16px;
    border-radius: 9px;
    background-color: white;
    color:  lightcoral;
    border: 1px solid lightcoral;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    transition: box-shadow 2s ease;
}
button:hover {
    background-color: lightcoral;
    color: white;
    border: 1px solid lightcoral;
}
button:focus {
    outline: none;
}
button:active {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}
input {
    color: lightcoral;
    display: inline-block;
    margin-left: 0;
    font-family: inherit;
    padding: 8px;
    margin-left: 16px;
    padding: 8px 16px;
    border-radius: 9px;  
    border: 1px solid lightcoral;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}
input:focus {
    outline: none;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}
#stock-checker-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    color: white;
    border: 1px solid lightcoral;
    border-radius: 9px;
    margin: 16px;
    padding: 16px;
    max-width: 70%;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);

}
#stock-checker-result-text {
    margin: 0;
}
#stock-checker-result-price {
    padding: 8px 16px;
    margin: 0;
    background-color: white;
    color:  lightcoral;
    border: 1px solid lightcoral;
    border-radius: 9px;
}